{% load staticfiles %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Sjakk</title>

  <link rel="stylesheet" href="{% static "css/chessboard.css" %}" />
  <link rel="stylesheet" href="{% static "css/chessPage.css" %}" />
</head>
<body>

<form method="post">{% csrf_token %}
{{ f.as_p }}
<input class="button" type="submit" value="Send Trekk" />
</form>

<div id="board" style="width: 700px"></div>

<Button class="button" onClick="resetGame()" >Nytt Spill</button>
<Button class="button" onClick="restoreInitialFen()">Tilbakestill</button>
<Button class="button" onClick="rotateBoard()">Snu Brettet</button>


<script src="{% static "js/json3.min.js" %}"></script>
<script src="{% static "js/jquery-1.10.1.min.js" %}"></script>
<script src="{% static "js/chess.min.js" %}"></script>
<script src="{% static "js/chessboard.js" %}"></script>


<script>
var board;
var initialFen = "{{ gameData.fen }}";
var game = new Chess();

var onSnapEnd = function(){
  updateFen();
};

// Init
// ----------
var init = function() {

var cfg = {
	draggable : true,
  pieceTheme: '{% static "img/chesspieces/wikipedia/" %}{piece}.png',
	position : "{{ gameData.fen }}",
  onSnapEnd: onSnapEnd,
  sparePieces: true,
}
board = new ChessBoard('board', cfg);

$("#id_fen").val("{{ gameData.fen }}");

}; 
// ---------
// end init()

var rotateBoard = function()
{
  board.flip();
};

var updateFen = function()
{
  $("#id_fen").val(board.fen());
};

var restoreInitialFen = function()
{
  board.position(initialFen);
};

setInterval(function() {
  $.ajax({
    url: 'http://python.torsjakk.com/getGameFen/',
    type: 'get',
    success: function(data) {
        if(data === initialFen)
        {
            var doNothing = 0;
        }
        else
        {
            initialFen = data
            board.position(data)
            updateFen()
        }
    },
    failure: function(data) {
        alert('Got an error.');
    }
});
}, 5000)

var resetGame = function()
{
  board.position("rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR")
  $("#id_fen").val(board.fen());
};

$(document).ready(init);
</script>
</body>
</html>